# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `npx -y @better-auth/cli secret`

# Valkey configuration
VALKEY_PORT=6379
VALKEY_HOST=127.0.0.1
VALKEY_PASSWORD= # Secure password